<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addAssetModalLabel">Add Container</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">

              <div class="form-group text-left">
                <label for="SSCC">SSCC</label>
                  <input formControlName="SSCC" type="text" class="form-control">
              </div>
            
              <div class="form-group text-left">
                <label for="currentLocation">Current Location</label>
                    <textarea formControlName="currentLocation" class="form-control" rows="3"></textarea>
              </div>
            
              <div class="form-group text-left">
                <label for="packages">packages</label>
                    <textarea formControlName="packages" class="form-control" rows="3"></textarea>
              </div>
          
        </div>
        <div class="modal-footer">
          <button (click)="addAsset(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>




<div class="modal fade" id="updateAssetModal" tabindex="-1" role="dialog" aria-labelledby="updateAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateAssetModalLabel">Container Received</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">

            <div class="form-group text-left">
              <label for="SSCC">SSCC</label>
                <input [ngModel]="SSCC"formControlName="SSCC" type="text" class="form-control">
            </div>
          
            <div class="form-group text-left">
              <label for="packages">Packages</label>

              <span>
                {{packagesText}}
                <textarea [ngModel]="packagesText" formControlName="packagesText" class="form-control" rows="3"></textarea>
              </span>
              
            </div>
        
            <div class="form-group text-left">
                <label for="currentLocation">Received at:</label> <br>
                <select id="Id" #Id="ngModel"  [(ngModel)]="selectedLocation" name="Id">  
                    <option selected="" value="">Select</option>  
                        <option [ngValue]="k.GLN" *ngFor="let k of locations">  
                            ({{k.GLN}})  {{k.address}}
                      </option>  
                </select>  
            </div>

        </div>
        <div class="modal-footer">
          <button (click)="updateAsset(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="container">
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <h1 id='assetName'>Shipping Containers</h1>
  <div class="row">
    <div class="col-md-12 text-right">
      <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAssetModal">Add Container</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-striped">
        <thead class="thead">
          <tr class="thead-cols">
            
                <th class="info">SSCC</th>
            
                <th class="info">Last Known Location</th>
            
                <th class="info">packages</th>
            
              <th class="info">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of allAssets">

                <td>{{asset.SSCC}}</td>
            
                <td>{{asset.locationText}}</td>
            
                <td>{{asset.packagesText}}</td>
            
            <td>
              <button (click)="setId(asset.SSCC);" type="button" class="btn btn-success" data-toggle="modal" data-target="#deleteAssetModal">Shipped</button>
          
              <button (click)="getForm(asset.SSCC);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updateAssetModal">Received</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
