
<div class="modal fade" id="updateAssetModal" tabindex="-1" role="dialog" aria-labelledby="updateAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateAssetModalLabel">Visibility Event Details</h4>
      </div>

      <form [formGroup]="myForm">
        <div class="modal-body">
            <div class="row">
                <div class="form-group text-left col-md-3">
                    <label>Event Type:</label>
                    {{currentAsset.eventType}}
                </div>
              
                <div class="form-group text-left col-md-3">
                  <label>Business Step:</label>
                  {{currentAsset.businessStep}}
                </div>
              
                <div class="form-group text-left col-md-3">
                  <label>Action:</label><br>
                  {{currentAsset.action}}
                </div>
  
                <div class="form-group text-left col-md-3">
                    <label>Disposition:</label>
                    {{currentAsset.disposition}}
                </div>
            </div>
            
            <div class="form-group text-left">
              <label>Transaction Id:</label>
              {{currentAsset.transactionId}}
            </div>

            <div class="form-group text-left">
              <label>Container (SSCC):</label>
              {{currentAsset.SSCC}}
            </div>
          
            <div class="form-group text-left">
              <label>Trade Item (GTIN):</label>
              {{currentAsset.GTIN}}
            </div>
          
            <div class="form-group text-left">
                <label for="locationText">Product / Item:</label>
                {{currentAsset.productText}} {{currentAsset.itemText}}
            </div>

            <div class="form-group text-left">
                <label for="locationText">Location:</label>
                (GLN: {{currentAsset.GLN}}) {{currentAsset.locationText}}
            </div>

            <div class="form-group text-left">
                <label for="locationText">Organization:</label>
                {{currentAsset.supplyChainPartnerText}}
            </div>

            <div class="form-group text-left">
              <label for="eventTime">Event Time:</label>
              {{currentAsset.eventTime}}
            </div>
          
            <div class="form-group text-left">
                <label for="SGTINs">Individual Packages (SGTINs):</label>
                <div class="pre-scrollable">
                    {{currentAsset.SGTINs}}
                </div>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="container">
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <h1 id='assetName'>Drug Pedigree Search</h1>
  <div class="row">
    <div class="col-md-12 text-right">
      <!--
      <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAssetModal">Add Asset</button>
      -->
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-6 form-inline">
      <!--
      <label for="sgtinSearch">Search By: </label>

      <select [(ngModel)]="searchBy">
        <option value="SGTIN" selected="selected">SGTIN</option>
        <option value="SSCC">SSCC</option>
      </select>
    -->
      <input [(ngModel)]="sgtinSearch" type="text" class="form-control">
      <button (click)="loadBySgtin()" type="button" class="btn btn-primary" >Find</button>
    </div>
  </div>

  <div *ngIf="loaded" style="margin-top:10px;border-top: 1px solid #999">
  <h2>Pedigree Results for SGTIN: {{this.package.SGTIN}}</h2>
 </div>

  <div *ngIf="loaded" class="row sgtin-container">

      <div class="col-md-12">
          <h3>Product Details</h3>
          <div class="row">
              <div class="col-md-6">
                  <h4>Trade Item</h4>
                <div>
                    <label>GTIN: </label> {{this.item.GTIN}}
                </div>
                <div>
                    <label>Product: </label> {{this.product.productName}}
                </div>
                <div>
                    <label>Package: </label> {{this.itemText()}}
                </div>
                <div>
                    <label>Manufacturer: </label> {{this.manufacturer.companyName}}
                </div>
              </div>

              <div class="col-md-6">
                <h4>Batch Details</h4>
                <div>
                    <label>Batch ID: </label> {{this.batch.batchId}}
                </div>
                <div>
                    <label>Batch Date: </label> {{this.batch.batchDate}}
                </div>
                <div>
                    <label>Expiration Date: </label> {{this.batch.expirationDate}}
                </div>
                <div>
                    <label>Location: </label> {{this.batchLocation.address}} 
                </div>
              </div>
          </div>
          
      </div>
    
  </div>

  <br>
  <h3>Visibility Events</h3>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-striped">
        <thead class="thead">
          <tr class="thead-cols">
                <th class="info">Read Location</th>
                <th class="info">Event</th>
                <th class="info">Container</th>
                <th class="info">Product</th>
                <th class="info">Event Time</th>
                <th class="info">Units / Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of allAssets">
                <td>
                  GLN: {{asset.GLN}} <br>
                  {{asset.supplyChainPartnerText}} <br>
                  {{asset.locationText}}
                </td>

                <td>{{asset.businessStep}}</td>
                <td>
                  SSCC: {{asset.SSCC}}<br>
                  Package count: {{asset.SGTINs.length}}
                </td>
                <td>
                    <span *ngIf="asset.GTIN">GTIN:</span> {{asset.GTIN}} <BR>
                    {{asset.productText}}
                </td>
                <td>{{asset.eventTime}}</td>

            <td>
              
              <button (click)="getForm(asset.transactionId);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updateAssetModal">Details</button>
            <!--
              <button (click)="setId(asset.transactionId);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAssetModal">Delete Asset</button>
              -->
            </td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>
